<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>
<br>
<p>Paragraph</p>
<br>
<h3>Fonts:</h3>
<h4 class="press_start_2p" style="font-family:'Press Start 2P' ">Press Start 2P</h4>
<h4 class="merriweather" style="font-family:'Merriweather' ">Merriweather</h4>
<br>
<h3>Colors:</h3>
<div style="border: 1px solid  black; width: 300px;">
  <div style="background-color: white; height: 100px; width: 300px;"><p>White</p></div>
  <div style="background-color: #E20338; height: 100px; width: 300px;"><p>redish #E20338</p></div>
  <div style="background-color: #0260E8; height: 100px; width: 300px;"><p>blueish  #0260E8</p></div>
</div>
<br>
<h3>Buttons</h3>
<a href="#" style="color: white; padding: 10px; border-radius: 20px; background-color: #0260E8">Accept</a>
<a href="#" style="color: white; padding: 10px; border-radius: 20px; background-color: #E20338">Cancel</a>
<br>
<br>
<h3>Buttons hover</h3>
<a href="#" class="btn btn-primary"></a>
<a href="#" class="btn btn-warning"></a>
<br>
<%= image_tag "town.jpg", alt: "Town", style: "height: 350px; width: 600px;" %>
<br>
<%= image_tag "forest.png", alt: "forest", style: "height: 350px; width: 600px;" %>
<br>
<%= image_tag "desert.jpg", alt: "desert", style: "height: 350px; width: 600px;" %>
<br>
<%= image_tag "ice.jpg", alt: "ice", style: "height: 350px; width: 600px;" %>
<br>
<%= image_tag "shop.jpg", alt: "shop", style: "height: 350px; width: 600px;" %>
<br>
<%= image_tag "score_board.jpg", alt: "score_board", style: "height: 350px; width: 600px;" %>
<br>
