<div class="filter">
  <div class="show-border module">
    <a class="close_lnk"><i id="close" class="fas fa-times close_btn"></i></a>
    <h1 class="char_show_prof_h1">profile</h1>
    <p>Name: <%= @character.name %></p>
    <p>Gender: <%= @character.gender %></p>
    <p>Exp: <%= @character.exp %></p>
    <p>Coin: <%= @character.coin %></p>
    <p>Lv.<%= @character.lv %></p>
    <p>Hp:<%= @character.hp %>/</p>
    <div class="char_logout">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "m-3 px-4 btn btn-warning" %>
    </div>


  </div>
</div>
