<div class="filter town_pro_fil">
  <div class="container show_cont">
  <div class="nes-container is-rounded w-50" style="background-color: white">
    <a class="close_lnk"><i id="close" class="nes-icon close is-small close_btn profile-close" style="position: absolute; right: 5px; top: 5px"></i></a>
    <div class="nes-container with-title is-rounded nes_prof">
      <p class="title">Profile</p>


      <div class="town_pro_info">
        <div>
          <p>Name: </p>
          <p>Gender: </p>
          <br>
          <p>LV. </p>
          <p>EXP: </p>
          <p>Max HP: </p>
          <p>Coin: </p>
          <p>Items: </p>
        </div>

        <div class="town_pro_rlinfo">
          <div>
            <p><%= @character.name %></p>
            <p><%= @character.gender %></p>
            <br>
            <p><%= @character.lv %></p>
            <p><%= @character.exp %></p>
            <p><%= current_user.characters[0].maxHealth %></p>
            <p><%= @character.coin %></p>
            <% @character.items.each do |item| %>
              <p><%= item.name %></p>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <br>
    <div class="nes-container with-title is-rounded">
      <p class="title">Settings</p>
      <div class="char_logout">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nes-btn is-error" %>
      </div>
    </div>
  </div>
  </div>
</div>
