<div class="char-status">
  <div class="main-info">
    <div class="char-avatar nes-container is-rounded">
      <img src="http://spritedatabase.net/icon2/22265.png" alt=""  class="char-status-avatar">
    </div>
    <div class="char-value">
      <% exp =  current_user.characters[0].exp %>
      <% lv = current_user.characters[0].lv %>
      <% hp = current_user.characters[0].hp %>
      <% hp_ratio = hp * 100 / (lv + 9) %>
      <span class="black-border-text status-content">Hp: <%= hp %>/<%= lv + 9 %></span>
      <% if hp_ratio > 50 %>
        <progress class="nes-progress is-success hp-bar" value="<%= hp_ratio %>" max="100"></progress>
      <% elsif hp_ratio > 30 %>
        <progress class="nes-progress is-warning hp-bar" value="<%= hp_ratio %>" max="100" style="height:15px; margin-bottom: 14px;"></progress>
      <% else %>
        <progress class="nes-progress is-error hp-bar" value="<%= hp_ratio %>" max="100" style="height:15px; margin-bottom: 14px;"></progress>
      <% end %></br>
      <span class="black-border-text status-content">Exp: <%= exp %>/<%= lv  * 5 %></span>
      <progress class="nes-progress is-primary exp-bar" value="<%= exp * 20 / lv %>" max="100"></progress>
    </div>
  </div>
  <% if params[:action] == "town" %>
    <% area_name = "town" %>
  <% else %>
    <% area_name = @question.level.name %>
  <% end %>
  <p class="black-border-text area-content">  Area: <%= area_name %></p>
  <div class="char-lv">
    <span class="black-border-text char-lv">Lv: <%= lv %></span>
  </div>
</div>
