<div class="filter town_pro_fil">
  <div class="container show_cont">
  <div class="show-border nes-container is-rounded w-75 h-100">
    <a class="close_lnk"><i id="close" class="nes-icon close is-small close_btn profile-close"></i></a>
      <h4 class="text-center" style="font-family:'press start 2p'">Shop</h4>

      <div class="d-flex item-cards justify-content-center">

        <% @items.each do |item| %>
          <div class=" nes-container is-rounded m-4 ">
            <div class="d-flex justify-content-center">
              <%= image_tag "#{item.img}", class: "w-50" %>
            </div>
            <p class="text-center mb-0 mt-2"><u><%= item.name %></u></p>
            <div class="text-center">
              • <%= item.description %>
              <br>
              • <%= item.price %> coins

            </div>
            <% if current_user.characters[0].enoughCoins?(item.price) && item.alreadyEquipped? == false %>
              <%= link_to "Purchase", add_item_character_path(current_user.characters[0], item: item), method: :post, remote: true, class: "purchase-btn d-flex justify-content-center nes-btn is-warning" %>
              <!-- purchase alert -->
              <section>
                <dialog class="nes-dialog is-rounded" id="dialog-rounded">
                  <form method="dialog">
                    <p>Purchased!</p>
                    <menu class="dialog-menu d-flex justify-content-center p-0">
                      <button id="confirm-btn" class=" nes-btn is-primary text-center">OK</button>
                    </menu>
                  </form>
                </dialog>
              </section>

            <% elsif item.alreadyEquipped? %>
              <button type="button" class="nes-btn is-disabled">Already equipped</button>

            <% else %>
              <button type="button" class="nes-btn is-disabled">Not enough coins</button>
            <% end %>

          </div>
        <% end %>

      </div>

  </div>
</div>

