<div class="filter">
  <div class="container d-flex align-items-center vh-100">
    <div class="nes-container is-rounded levels-box">

      <a><i id='close' class="nes-icon close is-small" style="float: right;"></i></a>
      <h1 class="text-center">Select a level</h1>

      <div class="nes-container is-rounded with-title track" style="background-image: url(<%= image_url "forest.png" %>);">
        <p class="title">Easy</p>
        <div class="level-button">
          <% @levels.each do |level| %>
            <div class="level-each-button">
            <% if level.track == "easy" %>
                <% if current_user.characters[0].clear_level?(level) %>
                  <%= image_tag "badge.png", alt: "badge", class: "level-badge" %>
                <% end %>
                <%= link_to level.name, level_path(level.questions[0]), class: "level-card m-2 nes-btn is-primary" ,style: "width:233px;"%>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="nes-container is-rounded with-title track" style="background-image: url(<%= image_url "desert.jpg" %>);">
        <p class="title">Med.</p>
        <div class="level-button">
          <% @levels.each do |level| %>
          <div class="level-each-button">
            <% if level.track == "medium" %>
              <% if current_user.characters[0].clear_level?(level) %>
                <%= image_tag "badge.png", alt: "badge", class: "level-badge" %>
              <% end %>
                <%= link_to level.name, level_path(level.questions[0]), class: "level-card m-2 nes-btn is-primary" ,style: "width:233px;" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="nes-container is-rounded with-title track" style="background-image: url(<%= image_url "ice.jpg" %>);">
        <p class="title">Hard</p>
        <div class="level-button">
          <% @levels.each do |level| %>
          <div class="level-each-button">
            <% if level.track == "hard" %>
              <% if current_user.characters[0].clear_level?(level) %>
                <%= image_tag "badge.png", alt: "badge", class: "level-badge" %>
              <% end %>
                <%= link_to level.name, level_path(level.questions[0]), class: "level-card m-2 nes-btn is-primary" ,style: "width:233px;" %>
            <% end %>
          </div>
          <% end %>
        </div>

    </div>
  </div>
</div>

