<div id="result"></div>
<div id="status">
  <%= render 'characters/status' %>
</div>
<div class="battle-scene">
  <div class="battle-background" style="background-image: url(<%= image_url @addBackground %>);">
    <div class="battle-field">
      <div id="question_status">
        <%= render 'questions/question_status', progress: @progress %>
      </div>
    <%= image_tag "avatar/#{current_user.characters[0].gender}.gif", alt: "alttext", id: "character_avatar" %>
    <%= image_tag "avatar/#{@level.img}.gif", alt: "alttext", id: "monster" %>
    <%= image_tag "fireball.gif", alt: "attack" ,id: "attack"%>
    <%= image_tag "", alt: "mon_attack" ,id: "mon_attack"%>
    </div>
  </div>

  <div class="question-area nes-container is-rounded">
    <div id="show_area">
      <%= render 'questions/show', question: @question, addBackground: @addBackground %>
    </div>
  </div>
</div>

